canvas{
	margin: 0;
    width: 800px;
    height: 600px;
}

body{
	margin: 0;
	background-color:black;
}

#content{
	margin: 0 auto;
    text-align: center;
    color:white;
    background-color:black !important;
}
